/*页面通用css*/
body {
  font-size: 14px;
  width:100%;
  height:100%;
}

.content-box {
  position: absolute;
  left: 250px;
  right: 0;
  top: 70px;
  bottom: 0;
  -webkit-transition: left .3s ease-in-out;
  transition: left .3s ease-in-out;
}

.content-box.content-collapse {
  left: 65px;
}

.content {
  width: 100%;
  height: calc(100% - 50px);
  overflow-y: scroll;
  box-sizing: border-box;
}

.container {
  margin: 15px;
  padding: 30px;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
  min-height: calc(100% - 100px);
}

.crumbs {
  position: relative;
  z-index: 1;
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 16px;
  padding-left: 15px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
}

.filter-box {
  display: flex;
}
.pLabel {
  margin-bottom: 10px ;
  border-left: 3px solid $--color-primary;
  padding-left: 13px;
  font-size: 16px;
  color: $--color-primary;
}
.pageTitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}

//---------------
.curp:hover {
  @include hover();
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
  opacity: 0;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: rgba(2, 255, 250, 0);
  border-bottom: 1px dashed rgba(0, 0, 0, 0.5);
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(2, 255, 250, 0);
  border-radius: 5px;
  background-color: rgba(2, 255, 250, 0);
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.15);
  background-color: rgba(0, 0, 0, 0.3);
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
  opacity: 0;
}
